.navDiv
{
  @apply bg-gradient-to-r from-teal-500 to-cyan-600 shadow-2xl
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  padding-left: 0;
  @apply justify-end
}

.nav-link-item {
  padding-right: 2rem;
  @apply p-5
}

.nav-link-text {
  @apply hover:text-white text-gray-200
}